<form name="personForm" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="rowDiv" ng-class="{'has-error error' : personForm.$submitted && personForm.age.$invalid}">
                <span class="editPerson" >Age *</span>
                <input type="number" name="age" class="form-control" ng-model="editCtrl.editingPerson.age" min="1" max="199" required>
                <div ng-show="personForm.$submitted">
                    <p ng-show="personForm.age.$error.required">Age is required.</p>
                    <p ng-show="personForm.age.$error.min">Age should be more than 0.</p>
                    <p ng-show="personForm.age.$error.max">Unfortunately 199 years is our current system limit. Please contact Laws of Nature in case of questions.</p>
                </div>
            </div>
            <div class="rowDiv" >
                <span class="editPerson">Street</span>
                <input type="text" class="form-control" ng-model="editCtrl.editingPerson.address.streetAddress">
            </div>
            <div class="rowDiv" ng-class="{'has-error error' : personForm.$submitted && personForm.city.$invalid}">
                <span class="editPerson">City *</span>
                <input type="text" name="city" class="form-control" ng-model="editCtrl.editingPerson.address.city" ng-minlength="3" ng-maxlength="50" required>
                <div ng-show="personForm.$submitted">
                    <p ng-show="personForm.city.$error.required">City is required.</p>
                    <p ng-show="personForm.city.$error.minlength">City name should be more than 3 characters.</p>
                    <p ng-show="personForm.city.$error.maxlength">City name should be less than 50 characters.</p>
                </div>
            </div>
            <div class="rowDiv">
                <span class="editPerson">State</span>
                <input type="text" class="form-control" ng-model="editCtrl.editingPerson.address.state">
            </div>

        </div><!-- col-md-6 -->

        <div class="col-md-6">
            <div class="rowDiv">
                <span class="editPerson">Postal Code</span>
                <input type="text" class="form-control" ng-model="editCtrl.editingPerson.address.postalCode">
            </div>
            <div class="rowDiv" ng-class="{'has-error error' : personForm.$submitted && personForm.homeNumber.$invalid}">
                <span class="editPerson">Home Number *</span>
                <input type="text" name="homeNumber" class="form-control" ng-model="editCtrl.phones.phoneHome" phone-validate required><!--phone-validate added-->
                <div ng-show="personForm.$submitted">
                    <p ng-show="personForm.homeNumber.$error.required">Phone is required.</p>
                    <p ng-show="personForm.homeNumber.$error.phoneValidate">Please enter correct Phone (10 digits).</p>
                </div>
            </div>
            <div class="rowDiv" ng-class="{'has-error error' : personForm.$submitted && personForm.faxNumber.$invalid}">
                <span class="editPerson">Fax Number *</span>
                <input type="text" name="faxNumber" class="form-control" ng-model="editCtrl.phones.phoneFax" ng-pattern="/^(\d{3}[-.\s]*){2}\d{4}$/" required><!--phone-validate added-->
                <div ng-show="personForm.$submitted">
                    <p ng-show="personForm.faxNumber.$error.required">Phone is required.</p>
                    <p ng-show="personForm.faxNumber.$error.pattern">Please enter correct Phone (10 digits).</p>
                </div>
            </div>
        </div><!-- col-md-6 -->
    </div><!-- row -->

    <div class="modal-footer" ng-show="editCtrl.showModal">
        <button type="button" class="btn btn-default" ng-click="editCtrl.oncancel()">{{editCtrl.cancelText}}</button>
        <button type="submit" class="btn btn-primary" ng-click="personForm.$valid && editCtrl.updatefunction()" ng-disabled="!editCtrl.isPersonChanged()">{{editCtrl.okText}}</button>
        <p ng-show="personForm.$submitted && !personForm.$valid" class="error"> Please correct errors in the form above.</p>
    </div>
    <div class="modal-footer" ng-show="!editCtrl.showModal">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="personForm.$valid && editCtrl.updatePerson()" ng-disabled="!editCtrl.isPersonChanged()">Submit</button>
        <p ng-show="personForm.$submitted && !personForm.$valid" class="error"> Please correct errors in the form above.</p>
    </div>
</form>