input#filter{
    position: relative;
    top: 50px;
    width: 200px;
}

table{
    position: relative;
    top: 100px;
}

a{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

th{
    width: 70px;
}