i{display:inline-block; width:14px; height:14px; line-height:1.1; color:transparent;}
.black{background: url(icons-black.png);}
.white{background: url(icons-white.png);}
.ws-icon-gl-glass{background-position: 0 0!important;}
.ws-icon-gl-music{background-position: -24px 0!important;}
.ws-icon-gl-search{background-position: -48px 0!important;}
.ws-icon-gl-envelope{background-position: -71px 0!important;}
.ws-icon-gl-heart{background-position: -95px 0!important;}
.ws-icon-gl-star{background-position: -120px 0!important;}
.ws-icon-gl-star-empty{background-position: -144px 0!important;}
.ws-icon-gl-user{background-position: -168px 0!important;}
.ws-icon-gl-film{background-position: -192px 0!important;}
.ws-icon-gl-th-large{background-position: -215px 0!important;}
.ws-icon-gl-th{background-position: -239px 0!important;}
.ws-icon-gl-th-list{background-position: -263px 0!important;}
.ws-icon-gl-ok{background-position: -288px 0!important;}
.ws-icon-gl-remove{background-position: -312px 0!important;}
.ws-icon-gl-zoom-in{background-position: -336px 0!important;}
.ws-icon-gl-zoom-out{background-position: -360px 0!important;}
.ws-icon-gl-off{background-position: -384px 0!important;}
.ws-icon-gl-signal{background-position: -408px 0!important;}
.ws-icon-gl-cog{background-position: -432px 0!important;}
.ws-icon-gl-trash{background-position: -456px 0!important;}

.ws-icon-gl-home{background-position: 0 -24px!important;}
.ws-icon-gl-file{background-position: -24px -24px!important;}
.ws-icon-gl-clock{background-position: -48px -24px!important;}
.ws-icon-gl-road{background-position: -72px -24px!important;}
.ws-icon-gl-download-alt{background-position: -95px -24px!important;}
.ws-icon-gl-download{background-position: -120px -24px!important;}
.ws-icon-gl-upload{background-position: -144px -24px!important;}
.ws-icon-gl-inbox{background-position: -168px -24px!important;}
.ws-icon-gl-play-circle{background-position: -192px -24px!important;}
.ws-icon-gl-repeat{background-position: -216px -24px!important;}
.ws-icon-gl-refresh{background-position: -240px -24px!important;}
.ws-icon-gl-list-alt{background-position: -264px -24px!important;}
.ws-icon-gl-lock{background-position: -287px -24px!important;}
.ws-icon-gl-flag{background-position: -312px -24px!important;}
.ws-icon-gl-headphones{background-position: -336px -24px!important;}
.ws-icon-gl-volume-off{background-position: -360px -24px!important;}
.ws-icon-gl-volume-down{background-position: -383px -24px!important;}
.ws-icon-gl-volume-up{background-position: -408px -24px!important;}
.ws-icon-gl-qrcode{background-position: -432px -24px!important;}
.ws-icon-gl-barcode{background-position: -456px -24px!important;}

.ws-icon-gl-tag{background-position: 0 -48px!important;}
.ws-icon-gl-tags{background-position: -25px -48px!important;}
.ws-icon-gl-book{background-position: -48px -48px!important;}
.ws-icon-gl-bookmark{background-position: -71px -48px!important;}
.ws-icon-gl-print{background-position: -96px -48px!important;}
.ws-icon-gl-camera{background-position: -120px -48px!important;}
.ws-icon-gl-font{background-position: -144px -48px!important;}
.ws-icon-gl-bold{background-position: -167px -48px!important;}
.ws-icon-gl-italic{background-position: -191px -48px!important;}
.ws-icon-gl-text-height{background-position: -216px -48px!important;}
.ws-icon-gl-text-width{background-position: -240px -49px!important;}
.ws-icon-gl-align-left{background-position: -264px -48px!important;}
.ws-icon-gl-align-center{background-position: -288px -48px!important;}
.ws-icon-gl-align-right{background-position: -312px -48px!important;}
.ws-icon-gl-align-justify{background-position: -336px -48px!important;}
.ws-icon-gl-list{background-position: -360px -48px!important;}
.ws-icon-gl-indent-left{background-position: -383px -48px!important;}
.ws-icon-gl-indent-right{background-position: -408px -48px!important;}
.ws-icon-gl-facetime-video{background-position: -432px -48px!important;}
.ws-icon-gl-picture{background-position: -456px -48px!important;}

i.ws-icon-gl-pencil{background-position: 0 -72px}
.ws-icon-gl-map-marker{background-position: -24px -72px!important;}
.ws-icon-gl-adjust{background-position: -48px -72px!important;}
.ws-icon-gl-tint{background-position: -71px -72px!important;}
.ws-icon-gl-edit{background-position: -96px -72px!important;}
.ws-icon-gl-share{background-position: -120px -72px!important;}
.ws-icon-gl-check{background-position: -144px -72px!important;}
.ws-icon-gl-move{background-position: -168px -72px!important;}
.ws-icon-gl-step-backward{background-position: -191px -72px!important;}
.ws-icon-gl-fast-backward{background-position: -216px -72px!important;}
.ws-icon-gl-backward{background-position: -241px -72px!important;}
.ws-icon-gl-play{background-position: -264px -72px!important;}
.ws-icon-gl-pause{background-position: -287px -72px!important;}
.ws-icon-gl-stop{background-position: -312px -72px!important;}
.ws-icon-gl-forward{background-position: -335px -72px!important;}
.ws-icon-gl-fast-forward{background-position: -360px -72px!important;}
.ws-icon-gl-step-forward{background-position: -384px -72px!important;}
.ws-icon-gl-eject{background-position: -408px -72px!important;}
.ws-icon-gl-chevron-left{background-position: -431px -72px!important;}
.ws-icon-gl-chevron-right{background-position: -456px -72px!important;}

.ws-icon-gl-plus-sign{background-position: 0 -96px!important;}
.ws-icon-gl-minus-sign{background-position: -24px -96px!important;}
.ws-icon-gl-remove-sign{background-position: -48px -96px!important;}
.ws-icon-gl-ok-sign{background-position: -72px -96px!important;}
.ws-icon-gl-question-sign{background-position: -96px -96px!important;}
.ws-icon-gl-info-sign{background-position: -120px -96px!important;}
.ws-icon-gl-screenshot{background-position: -144px -96px!important;}
.ws-icon-gl-remove-circle{background-position: -168px -96px!important;}
.ws-icon-gl-ok-circle{background-position: -192px -96px!important;}
.ws-icon-gl-ban-circle{background-position: -216px -96px!important;}
.ws-icon-gl-arrow-left{background-position: -240px -96px!important;}
.ws-icon-gl-arrow-right{background-position: -264px -96px!important;}
.ws-icon-gl-arrow-up{background-position: -288px -96px!important;}
.ws-icon-gl-arrow-down{background-position: -311px -96px!important;}
.ws-icon-gl-share-alt{background-position: -336px -96px!important;}
.ws-icon-gl-resize-full{background-position: -360px -96px!important;}
.ws-icon-gl-resize-small{background-position: -384px -96px!important;}
.ws-icon-gl-plus{background-position: -407px -96px!important;}
.ws-icon-gl-minus{background-position: -432px -96px!important;}
.ws-icon-gl-asterisk{background-position: -456px -96px!important;}

.ws-icon-gl-exclamation-sign{background-position: 0 -120px!important;}
.ws-icon-gl-gift{background-position: -24px -120px!important;}
.ws-icon-gl-leaf{background-position: -48px -120px!important;}
.ws-icon-gl-ws-icon-gl-fire{background-position: -72px -120px!important;}
.ws-icon-gl-eye-open{background-position: -96px -120px!important;}
.ws-icon-gl-eye-close{background-position: -120px -120px!important;}
.ws-icon-gl-warning-sign{background-position: -144px -120px!important;}
.ws-icon-gl-plane{background-position: -168px -120px!important;}
.ws-icon-gl-calendar{background-position: -191px -120px!important;}
.ws-icon-gl-random{background-position: -217px -120px!important;}
.ws-icon-gl-comment{background-position: -240px -120px!important;}
.ws-icon-gl-magnet{background-position: -264px -120px!important;}
.ws-icon-gl-chevron-up{background-position: -287px -120px!important;}
.ws-icon-gl-chevron-down{background-position: -312px -120px!important;}
.ws-icon-gl-retweet{background-position: -335px -120px!important;}
.ws-icon-gl-shopping-cart{background-position: -360px -120px!important;}
.ws-icon-gl-folder-close{background-position: -384px -120px!important;}
.ws-icon-gl-folder-open{background-position: -409px -120px!important;}
.ws-icon-gl-resize-vertical{background-position: -432px -120px!important;}
.ws-icon-gl-resize-horizontal{background-position: -456px -120px!important;}

.ws-icon-gl-hdd{background-position: 0 -144px!important;}
.ws-icon-gl-bullhorn{background-position: -23px -144px!important;}
.ws-icon-gl-bell{background-position: -48px -144px!important;}
.ws-icon-gl-certificate{background-position: -72px -144px!important;}
.ws-icon-gl-thumbs-up{background-position: -96px -144px!important;}
.ws-icon-gl-thumbs-down{background-position: -120px -144px!important;}
.ws-icon-gl-hand-right{background-position: -144px -144px!important;}
.ws-icon-gl-hand-left{background-position: -167px -144px!important;}
.ws-icon-gl-hand-up{background-position: -193px -144px!important;}
.ws-icon-gl-hand-down{background-position: -216px -145px!important;}
.ws-icon-gl-circle-arrow-right{background-position: -240px -144px!important;}
.ws-icon-gl-circle-arrow-left{background-position: -264px -144px!important;}
.ws-icon-gl-circle-arrow-up{background-position: -288px -144px!important;}
.ws-icon-gl-circle-arrow-down{background-position: -312px -144px!important;}
.ws-icon-gl-globe{background-position: -336px -144px!important;}
.ws-icon-gl-wrench{background-position: -360px -144px!important;}
.ws-icon-gl-tasks{background-position: -384px -144px!important;}
.ws-icon-gl-filter{background-position: -408px -144px!important;}
.ws-icon-gl-briefcase{background-position: -432px -144px!important;}
.ws-icon-gl-fullscreen{background-position: -456px -144px!important;}